.header {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  position: relative;

  .headerContainer {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
    margin: 20px 0px 100px 0px;

    .listMode {
      margin: 20px 0px 0px 0px;
    }

    .headerList {
      display: flex;
      gap: 40px;
      margin-bottom: 50px;
    }

    .headerListItem {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .headerListItem.active {
      border: 1px solid white;
      padding: 10px;
      border-radius: 20px;
    }

    .headerDesc {
      margin: 20px 0px;
    }

    .headerBtn {
      background-color: #0071c2;
      color: white;
      font-weight: 500;
      border: none;
      padding: 10px;
      cursor: pointer;
      border: 1px solid transparent;

      &:active {
        background-color: white;
        color: #0071c2;
        border-color: #0071c2;
      }

      &:hover {
        background-color: rgb(0, 113, 194, 0.8);
      }
    }

    .headerSearch {
      height: auto;
      background-color: white;
      border: 3px solid #febb02;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0px;
      border-radius: 5px;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      max-width: 1024px;
      padding: 5px 10px;
      z-index: 999;

      .headerIcon {
        color: lightgray;
      }

      .headerSearchItem {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: center;
      }

      .headerSearchInput {
        border: none;
        outline: none;
      }

      .headerSearchText {
        color: lightgray;
        cursor: pointer;
      }

      .date {
        position: absolute;
        top: 50px;
        z-index: 2;
      }

      .options {
        position: absolute;
        top: 50px;
        background-color: #fff;
        color: gray;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

        .optionItem {
          width: 200px;
          display: flex;
          // justify-content: space-between;
          align-items: center;
          margin: 10px;
          // background-color: #0071c2;
        }

        .optionText {
          display: flex;
          flex: 1;
        }

        .optionCounter {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          color: black;
        }

        .optionCounterButton {
          width: 30px;
          height: 30px;
          border: 1px solid #0071c2;
          color: #0071c2;
          cursor: pointer;
          font-weight: bold;
          font-size: 14px;
          background-color: white;

          &:active {
            color: white;
            background-color: #0071c2;
          }
        }

        .optionCounterButton:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  .listMode {
    margin: 0;
  }
}

@media screen and (max-width: 720px) {
  .header {
    .headerContainer {
      .headerDesc {
        display: none;
      }

      .headerList{
        display: none;
      }

      .headerSearch {
        height: fit-content;
        // flex-direction: column;
        flex-wrap: wrap;

        .headerSearchItem {
          padding: 10px 0;
        }
      }
    }
  }
}
